* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv1 {
  position: absolute;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.myRow1 {
  display: flex;
  overflow: hidden;
  height: 80%;
  flex-direction: row;
}

.myColorPicker {
  height: 20vh;
  width: 20vh;
}

.myRow2 {
  display: flex;
  overflow: auto;
  height: 20%;
  flex-direction: row;
}

.myColumn1 {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 20%;
  overflow: auto;
}
.myColumn2 {
  display: flex;
  flex-direction: row;
  float: center;
  height: 100%;
  width: 70%;
}

.myColumnCanvasTree {
  display: flex;
  flex-direction: column;
  float: center;
  height: 24vw;
  width: 24vw;
}
.myColumnOptionsTree {
  display: flex;
  flex-direction: column;
  float: center;
  width: 30vw;
}


.myColumn21 {
  display: flex;
  flex-direction: column;
  float: center;
  height: 30vw;
  width: 30vw;
}

.myColumn22 {
  display: flex;
  flex-direction: column;
  float: center;
  height: 30%;
  width: 50%;
}

canvas {
  background: black;
  height: 100%;
  width: 100%;
}

.myRowSimple{
  display: flex;
  flex-direction: row;
}

.myColumnSimple{
  display: flex;
  flex-direction: column;
}


.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.black-img{
  background-color:black;
}


.column-div {
  display: flex;
  flex-direction: row;
}
.generate-tree-button {
  cursor: pointer;
  outline: none;
  border: none;
  left: 0;
  bottom: 5%;
  z-index: 10;
  left: 50%;
  padding: 5px 5px;
  border-radius: 50px;
  background: brown;
  color: black;
  font-size: 20px;
  overflow: hidden;
  width: 300px;
}

.slidecontainer {
  padding: 10px 10px 0px 10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#myRange4.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background:blue;
  cursor: pointer;
}
#myRange3.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background:red;
  cursor: pointer;
}

#myRange2.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background:green;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
